---
import ExperienceItem from "./ExperienceItem.astro";
import Heading from "../ui/Heading.astro";
import { Icon } from "astro-icon/components";

const EXPERIENCE = [
  {
    date: "2024 - Present",
    title: "Fullstack Development",
    company: "COSMO SCHOOLS",  
    description:
      "I lead and structure the development of 'Viajeros,' an EdTech platform, being responsible for its strategy, development, and optimization to ensure scalability and usability. I design and maintain the database architecture for storing and processing student and assessment information. I manage the cloud infrastructure on Amazon Web Services (AWS). I carry out descriptive, diagnostic, and predictive analysis within the Cosmo Schools educational model.",
  },
  {
    date: "2022 - 2024",
    title: "Fullstack Development",
    company: "ACTIVEONE",
    description:
      "I designed and implemented end-to-end software solutions, optimizing both frontend and backend to ensure efficiency, scalability, and an improved user experience. I implemented enterprise traceability solutions through customized developments, strengthening process control and decision-making.",
  },
  {
    date: "2020 - 2021",
    title: "IT Support",
    company: "TRIIBUU",
    description:
      "I managed and maintained systems, networks, and technological environments to ensure availability and performance. I supported process automation, enhancing efficiency within the Project Management area.",
  },
];
---

<section class="py-8 px-8 max-md:py-4 mb-4 scroll-m-16" id="experience">
  <div class="flex flex-col pt-8 max-w-4xl mx-auto">
    <div class="flex gap-4 items-center justify-center">
      <Icon class="text-3xl dark:text-white text-blacktext" name="briefcase" />
      <Heading text="Work" textGradient="Experience" level={2} />
    </div>

    <div class="relative max-md:mt-0 mt-8" aria-label="Professional experience">
      <ol class="relative mt-10">
        {
          EXPERIENCE.map((experience, index) => (
            <li>
              <article
                role="article"
                aria-labelledby={`experience-title-${index}`}
              >
                <div
                  class="flex flex-col gap-2  text-zinc-00 dark:text-zinc-300 md:col-span-3"
                  aria-describedby={`experience-title-${index}`}
                >
                  <ExperienceItem {...experience} />
                </div>
              </article>
            </li>
          ))
        }
      </ol>
    </div>
  </div>
</section>
